/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

}

/* header related style */
.header {
    background: rgba(229, 84, 115, 0.10);

}

.banner {
    color: #272727;
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greating {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

/* main section stle */
main section {
    margin-top: 130px;
}

.about {
    text-align: center;
    padding: 50px;
    color: #272727;
}

.text-great {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
}

.skills-container {
    display: flex;
    margin: 300px;
    gap: 24px;


}

.skill {
    padding: 30px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#skill-info {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#skill {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.images {
    padding: 0;
    margin-bottom: 0;

}

.discuent {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 230px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 420px;
  
   
    
}
.discuent-pic{
    width: 200px;
    padding: 100px;
  
}
/* discrivetion */
.discrivetion{
    
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 30px;
}
.discrivetion-grating{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    margin-bottom: 100px;
}