/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

}

/* header related style */
.header {
    background: rgba(229, 84, 115, 0.10);

}

.banner {
    color: #272727;
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greating {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

/* main section stle */
main section {
    margin-top: 130px;


}

.about {
    text-align: center;
    padding: 50px;
    color: #272727;
}

.text-great {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
}

.skills-container {
    display: flex;
    margin: 200px;
    gap: 24px;
    padding: 0 0 240px 240px;
    margin-bottom: 0;


}

.skill {
    padding: 30px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
}

#skill-info {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-bottom: 0;
}

#skill {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-bottom: 0;
}

.images {
    padding: 0;
    margin-bottom: 0;

}

.discuent {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 230px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    min-height: 420px;
}

.discuent-pic {
    width: 200px;
    padding: 100px;

}

/* discrivetion */
.discrivetion {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
}

.discrivetion-grating {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    margin-bottom: 100px;
}

.images-insta {
    display: flex;
    width: 342px;
    height: 396px;
    gap: 24px;
    margin: 200px;



}

.background-image {
    text-align: center;
    padding-bottom: 200px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    margin: 100px;

}

.email {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
}
.expencive{
    text-align: center;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 0 0 0 ;
    
    
    
}
.expencive-img{
    gap: 24px;
}

/* footer */
.footer {
    text-align: center;
    background: #111010;
    padding: 80px;
   
}
.footer-great{
     color: white;
     padding-top: 40px ;
     
     
     
}
.color{
    color: #E55473;
    font-size: 40px;
font-style: normal;
font-weight: 800;
}
.footer-info{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 12px; */
font-weight: 400;
line-height: 30px;

}
.fotter-last{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-weight: 400;
}